<div class="todo">
  <div class="todo__task">
    <p class="todo__task__title">To Do List:</p>
    <div>
      <app-item class="todo__list"
        *ngFor="let task of tasks"
        [todoTask]="task"
        (onDeleteTask)="onDelete($event)"
        (addCompletedTask)="addComletedTask($event)"
        (addCompletedTask)="onDelete($event)"
      ></app-item>
    </div>

    <form #myForm="ngForm"> 
      <input ngModel class="form" name="task" type="text" placeholder="Add Task">
      <button class="button" (click)="addTask(myForm)">Do It</button>
    </form>
  </div>

  <div class="todo__comletedtask">
    <p class="todo__comletedtask_title">Completed tasks: </p>
    <app-component-completed-task
      *ngFor="let task of CompletedTasks"
      [todoTask]="task"
      (onDeleteTask)="onDeleteComletedTask($event)"
    ></app-component-completed-task>
  </div>
</div>